<% provide :title, "#{@station.name}駅の服" %>
<aside class="sub_header">
  <div class="container text-center">
    <div class="station_page">
      <h1 class="btn btn-default btn-xl"><%= @station.name %>駅の服</h1><br>
      <a href="/usearch?statid=<%= @station.id %>" class="btn btn-default btn-xl btn_row">この駅の利用しているユーザーを探す</a>
    </div>
  </div>
</aside>
<% if current_user.admin? %>
  <br>
  <div class="text-center">
    <h2 class="btn btn-primary btn-xl btn_row">登録された服の情報</h2>
    <br>
    <br>
    <table class="table">
      <tbody>
        <td>ID</td>
        <td>UserID</td>
        <td>Brand</td>
        <td>Price</td>
        <td>MPrice</td>
        <td>Created_at</td>
        <td>Updated_at</td>
        <td>avatar</td>
      </tbody>
    <% @wears.each do |w| %>
      <%= render 'admin/show_wear', w: w %>
    <% end %>
    </table>
  </div>
<% end %>
<section class="no-padding">
  <div class="container-fuild">
    <div class="row no-gutter">
      <div id="wears">
        <div class="page">
          <%= render @wears %>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @wears %>
</section>