<div class="wear">
<div class="col-lg-4 col-sm-4 text-center">
  <div class="portfolio-box">
  <a href="/wears/<%= wear.id %>">
    <%= image_tag wear.authenticated_image_url(:medium), :class => "img-responsive", :alt => "" %>
    <div class="portfolio-box-caption">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          <p><%= wear.user.station.name %>駅</p>
        </div>
        <div class="project-name">
          <p>
            <%= wear.price %>円
            <%= wear.month_price %>円/月
              <br>
            <%= wear.brand.name %>
          </p>
        </div>
      </div>
    </div>
  </a>
  </div>
  <h3><%= link_to "#{wear.brand.name}：#{wear.price}円/月",wear_path(wear.id) %></h3>
</div>
</div>