<div class="user">
<div class="col-lg-4 col-sm-4 text-center">
  <div class="portfolio-box">
  <a href="/wears/<%= wear.id %>">
    <%= image_tag wear.avatar.url(:medium), :class => "img-responsive", :alt => "" %>
    <div class="portfolio-box-caption">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          <p><%= wear.user.station.name %>駅</p>
        </div>
        <div class="project-name">
          <p><%= wear.price %>円/月
            <br>
          <%= wear.brand.name %></p>
        </div>
      </div>
    </div>
  </a>
  </div>
  <p class="under_portfolio_box"><%= link_to "#{wear.user.family_name}#{wear.user.first_name}",user_path(wear.user.id) %>　<%= link_to "#{wear.user.station.name}駅",station_path(wear.user.station.id) %>
  <br><%= link_to "#{wear.brand.name}：#{wear.price}円/月",wear_path(wear.id) %></p>
</div>
</div>