<header>
  <div class="header-content">
    <div class="new_wear_page">
      <%= link_to "#{@wear.user.family_name} #{@wear.user.first_name}さん", user_path(@wear.user.id), :class => "btn btn-primary btn-lg btn_row" %>
      <%= link_to "#{@user.station.name}駅",station_path(@user.station.id), :class => "btn btn-primary btn-sm btn_row" %>
      <div class="wear_info">
        <h3><%= @wear.price %>円：<%= @wear.month_price %>円/月<br><%= @wear.brand.name %></h3>
      </div>
      <section class="no-padding">
        <div class="container-fuild">
          <div class="no-gutter">
              <div class="text-center">
                <a href="/wears/<%= @wear.id %>" class="portfolio-box ">
                <%= image_tag @wear.authenticated_image_url(:medium), :class => "img-responsive", :alt => "" %>
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        <%= @wear.user.station.name %>駅
                      </div>
                      <div class="project-name">
                        <%= @wear.price %>円：<%= @wear.month_price %>円/月
                        <br>
                        <%= @wear.brand.name %>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
          </div>
        </div>
      </section>
      <% if current_user.admin? || @user.id == current_user.id %>
        <h3><%= link_to "編集する", edit_wear_path(@wear.id), :class => "btn btn-primary btn-lg" %></h3>
      <% end %>
    </div>
  </div>
</header>