<% provide :title, "ユーザー情報の編集" %>
<header>
  <div class="header-content">
    <div class="form-wrapper" style="padding-left:2px;">
      <h2><strong>ユーザー情報編集</strong></h2>
      <%= form_for @user do |f| %>
        <div class="form-item">
          <%= f.label "プロフィール画像" %>
          <%  if @user.image.present?  %>
            <%= image_tag @user.authenticated_image_url(:thumb), :class => "img-responsive", :alt => "", :style => "margin:0 auto;" %>
          <% end %>
          <%= f.file_field :image, :class => "form-controll" %>
        </div>
        <div class="form-item">
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <%= f.label "苗字" %>
            </div>
            <div class="col-sm-6 col-xs-6">
              <%= f.label "名前" %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <%= f.text_field :family_name, :class => "form-control" %>
            </div>
            <div class="col-sm-6 col-xs-6">
              <%= f.text_field :first_name, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-item">
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <%= f.label "23区名" %>
            </div>
            <div class="col-sm-6 col-xs-6">
              <%= f.label "駅名" %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <%= f.collection_select :ward_id, Ward.all, :id, :name, {:selected => @ward.id }, {:class => "form-control"}  %>
            </div>
            <div class="col-sm-6 col-xs-6">
              <%= render partial: 'stations', locals: { ward_id: @ward.id} %>
            </div>
          </div>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "編集する",:class => 'btn btn-primary scroll-page' %>
        </div>
      <% end %>
    </div>
  </div>
</header>