<% provide :title, "ユーザー情報" %>
<% if user_signed_in? %>
<% if current_user.full_profile? %>
  <header>
    <div class="header-content">
    <div class="container text-center">
        <div class="show_user_page">
          <h1 class="btn btn-default wow btn-xl btn-row"><%= "#{@user.family_name} #{@user.first_name}さん" %></h1>
          <div class="user_avatar">
            <% if @user.image.present? %>
              <%= image_tag @user.authenticated_image_url(:medium), :class => "img-responsive", :alt => "" %>
            <% end %>
          </div>
          <% if user_signed_in? %>
            <% if @user.id == current_user.id || current_user.admin? %>
              <h3><%= link_to "服を登録する", new_wear_path, :class => "btn btn-primary scroll-page btn-md btn_row" %>
              <%= link_to "ユーザー情報を編集する",edit_user_path(@user.id), :class => "btn btn-primary scroll-page btn-md" %></h3>
            <% end %>
          <% end %>
        </div>
      </div>
      </div>
  </header>
  <% if current_user.admin? %>
  <br>
  <div class="text-center">
    <h2 class="btn btn-primary btn-xl btn_row">登録された服の情報</h2>
    <br>
    <br>
    <table class="table">
      <tbody>
        <td>ID</td>
        <td>UserID</td>
        <td>Brand</td>
        <td>Created_at</td>
        <td>Updated_at</td>
        <td>avatar</td>
      </tbody>
    <% @user.wears.each do |w| %>
      <%= render 'admin/show_wear', w: w %>
    <% end %>
    </table>
  </div>
  <% end %>
  <section class="no-padding">
    <div class="container-fuild">
      <div class="row no-gutter">
        <div id="wears">
          <div class="page">
            <%= render @wears %>
          </div>
        </div>
      </div>
      <%= paginate @wears %>
    </div>
  </section>
<% else %>
  <header>
    <div class="header-content">
      <div class="new_wear_page">
        <h3><strong>まずはユーザー情報の登録をして下さい</strong></h3>
        <%= link_to "ユーザー情報を編集する", edit_user_path(current_user.id), :class => "btn btn-primary btn-lg scroll-page" %>
      </div>
    </div>
  </header>
<% end %>
<% end %>