<% provide :title, "ようこそ、???へ！" %>
<% if user_signed_in? %>
  <% if current_user.full_profile? %>
    <%= render 'header' %>
    <%= render 'call_to_action' %>
    <section class="no-padding" id="wear_section" style="border-bottom: 1px solid">
      <div class="container-fuild text-center">
        <div class="row no-gutter">
          <div id="wears">
            <div class="page">
              <%= render @wears %>
            </div>
          </div>
        </div>
        <br>
        <%= paginate @wears %>
      </div>
    </section>
  <% else %>
    <header>
      <div class="header-content">
        <%= render 'common/alert' %>
        <div class="user_update_page">
          <h1 style="color:#222;">登録を完了して下さい</h1>
          <%= link_to "登録画面へ", edit_user_path(current_user.id), :class => "btn btn-primary btn-lg" %>
        </div>
      </div>
    </header>
    <%= render 'call_to_action' %>
  <% end %>
<% else %>
  <%= render 'header' %>
  <%= render 'creatives/call_to_action' %>
  <%= render 'creatives/bg_primary' %>
  <%= render 'creatives/services' %>
  <aside class="bg-dark">
    <div class="container">
      <hr class="light">
    </div>
  </aside>
<% end %>